@font-face {
  font-family: 'iransance';
  src: local('iransance'), url('./IRANSANS-MEDIUM.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: 'iransance';
}

